<div class="" style="width: 100vw;padding: 0;margin: 0;">
    <div class=" w-100" style="min-height: 50px; background-color: #0061A0;">
        <ul class="nav nav-pills nav-fill" style="height: 100%;">
            <li class="nav-item" style="height: 100%;" >
                <a class="nav-link tab " routerLink="/" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}" style="height: 100%;">Entrada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab" routerLink="/catalog" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                 >Catalogo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab" routerLink="/busqueda" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">Busqueda</a>
            </li>

        </ul>
       
    </div>


</div>