$tab-color-active: "#007abc";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    height: 100%;
}
.nav {
    border-radius: 0;
    :hover {
        color: white;
        background-color: #2b7bb1;
    }
}
.nav-link.active{
    background-color:#448bb1 !important;
}

.nav-link {
    color: white;
}

.appBar {
    width: "100%";
    background-color: '#FFF';
    min-height: "4rem";
}

.userContainer {
    :hover {
        background-color: rgb(204, 203, 202);
    }
}
